Repository A-Archives-and-Forks/frontpage, changes with the labels that .github/labeler.yml gives for each.
All labels: atproto-browser, frontpage, drainpipe, documentation

.github/labeler.yml:

atproto-browser:
  - changed-files:
      - any-glob-to-any-file: packages/atproto-browser/**

frontpage:
  - changed-files:
      - any-glob-to-any-file: packages/frontpage/**

drainpipe:
  - changed-files:
      - any-glob-to-any-file: packages-rs/**

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

enhancement:
  - head-branch: ["^feature", "feature", "^feat", "feat"]

fix:
  - head-branch: ["^fix", "fix"]

Add discord alert on comment create
  packages/frontpage/app/api/receive_hook/handlers.ts
Labels: frontpage

Better comment alert
  packages/frontpage/app/api/receive_hook/handlers.ts
Labels: frontpage

Even better comment
  packages/frontpage/app/api/receive_hook/handlers.ts
Labels: frontpage

Distinguish report alerts
  packages/frontpage/lib/data/db/report.ts
Labels: frontpage

Bump Next.js to 16.0.9 and React to 19.2.2 for security patch (#302)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

Add Copilot onboarding guide for frontpage monorepo (#301)
  .github/copilot-instructions.md
  .prettierignore
Labels: documentation

Pin actions versions (#304)
  .github/copilot-instructions.md
  .github/workflows/label.yml
  .github/workflows/lexicon-check.yml
  .github/workflows/pr.yml
  .github/workflows/tangled.yml
Labels: documentation

ci: Output eslint reports and capture them for annotations (#305)
  .github/workflows/pr.yml
  .gitignore
  turbo.json
Labels: none

Remove eslint config from next.config.mjs
  packages/atproto-browser/next.config.mjs
Labels: atproto-browser

Fix blob ref parsing
  packages/atproto-browser/app/at/_lib/atproto-json.tsx
Labels: atproto-browser

Update atproto packages (#308)
  packages/atproto-browser/lib/navigation.test.ts
  packages/atproto-browser/lib/navigation.ts
  packages/atproto-browser/package.json
  packages/frontpage-atproto-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: atproto-browser

Rework login UI (#300)
  packages/frontpage/app/(auth)/layout.tsx
  packages/frontpage/app/(auth)/login/_lib/action.tsx
  packages/frontpage/app/(auth)/login/_lib/form.tsx
  packages/frontpage/app/globals.css
  packages/frontpage/lib/auth-sign-in.ts
  packages/frontpage/lib/components/ui/accordion.tsx
  packages/frontpage/lib/components/ui/field.tsx
  packages/frontpage/lib/components/ui/label.tsx
  packages/frontpage/package.json
  packages/frontpage/tailwind.config.ts
  pnpm-lock.yaml
Labels: frontpage

Add aria labels
  packages/frontpage/app/(auth)/login/_lib/form.tsx
Labels: frontpage

Migrate frontpage identity operations to use atcute (#310)
  packages/frontpage/lib/auth.ts
  packages/frontpage/lib/constants.ts
  packages/frontpage/lib/data/atproto/did.ts
  packages/frontpage/lib/data/atproto/identity.ts
  packages/frontpage/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: frontpage

Update README.md
  packages/frontpage/local-infra/README.md
Labels: frontpage, documentation

Better invalid handle support (#296)
  packages/frontpage/app/(app)/_components/post-card.tsx
  packages/frontpage/app/(app)/layout.tsx
  packages/frontpage/app/(app)/moderation/_components/report-card.tsx
  packages/frontpage/app/(app)/moderation/_components/user-handle.tsx
  packages/frontpage/app/(app)/notifications/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/og-image/route.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/page.tsx
  packages/frontpage/app/(app)/post/new/_action.ts
  packages/frontpage/app/(app)/profile/[user]/page.tsx
  packages/frontpage/app/(auth)/reauthenticate/_lib/reauthenticate-action.ts
  packages/frontpage/app/(auth)/reauthenticate/page.tsx
  packages/frontpage/app/api/hover-card-content/route.ts
  packages/frontpage/lib/auth.ts
  packages/frontpage/lib/components/user-hover-card-client.tsx
  packages/frontpage/lib/components/user-hover-card.tsx
  packages/frontpage/lib/data/user.ts
  packages/frontpage/lib/schema.ts
  packages/frontpage/proxy.ts
Labels: frontpage

Fix rel alternate uri having incorrect collection for new lexicons
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/page.tsx
  packages/frontpage/lib/data/db/comment.ts
Labels: frontpage

Next.js 16.1 (#313)
  packages/frontpage/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: frontpage

Refactor pages and layouts to use PageProps/LayoutProps (#314)
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/_lib/page-data.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/og-image/route.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/[commentAuthor]/[commentRkey]/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/page-data.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/layout.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/og-image/route.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/page.tsx
  packages/frontpage/app/(app)/post/new/page.tsx
  packages/frontpage/app/(app)/profile/[user]/page.tsx
  packages/frontpage/app/(auth)/login/page.tsx
  packages/frontpage/package.json
  turbo.json
Labels: frontpage

Add copilot instructions for PageProps and RouteHandlerContext
  .github/copilot-instructions.md
Labels: documentation

Don't mention pnpm as script runner in instructions, must use turborepo so that task dependencies are ran properly
  .github/copilot-instructions.md
Labels: documentation

Remove NODE_OPTIONS from dev-1pw command
  packages/frontpage/package.json
Labels: frontpage

Update to use Tailwindcss v4 (#316)
  packages/frontpage/app/(app)/_components/notification-indicator-client.tsx
  packages/frontpage/app/(app)/_components/post-card.tsx
  packages/frontpage/app/(app)/_components/report-dialog.tsx
  packages/frontpage/app/(app)/_components/theme-toggle.tsx
  packages/frontpage/app/(app)/_components/vote-button.tsx
  packages/frontpage/app/(app)/about/page.tsx
  packages/frontpage/app/(app)/notifications/_lib/mark-as-read-button.tsx
  packages/frontpage/app/(app)/notifications/page.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment-client.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/loading.tsx
  packages/frontpage/app/(auth)/login/_lib/form.tsx
  packages/frontpage/app/(auth)/login/page.tsx
  packages/frontpage/app/(auth)/reauthenticate/_lib/reauthenticate-form.tsx
  packages/frontpage/app/globals.css
  packages/frontpage/lib/components/ui/accordion.tsx
  packages/frontpage/lib/components/ui/badge.tsx
  packages/frontpage/lib/components/ui/button.tsx
  packages/frontpage/lib/components/ui/card.tsx
  packages/frontpage/lib/components/ui/dialog.tsx
  packages/frontpage/lib/components/ui/dropdown-menu.tsx
  packages/frontpage/lib/components/ui/field.tsx
  packages/frontpage/lib/components/ui/hover-card.tsx
  packages/frontpage/lib/components/ui/input.tsx
  packages/frontpage/lib/components/ui/popover.tsx
  packages/frontpage/lib/components/ui/select.tsx
  packages/frontpage/lib/components/ui/separator.tsx
  packages/frontpage/lib/components/ui/tabs.tsx
  packages/frontpage/lib/components/ui/textarea.tsx
  packages/frontpage/lib/components/ui/toast.tsx
  packages/frontpage/package.json
  packages/frontpage/postcss.config.mjs
  packages/frontpage/tailwind.config.ts
  pnpm-lock.yaml
Labels: frontpage

Update shadcn components that still used forwardRef (#317)
  packages/frontpage/app/(app)/moderation/_components/report-card.tsx
  packages/frontpage/app/(auth)/layout.tsx
  packages/frontpage/app/blog/page.tsx
  packages/frontpage/lib/components/ui/card.tsx
  packages/frontpage/lib/components/ui/hover-card.tsx
Labels: frontpage

Fix alert dialog animations (#321)
  packages/frontpage/lib/components/ui/alert-dialog.tsx
Labels: frontpage

Prevent showing report button if not logged in (#320)
  packages/frontpage/app/(app)/profile/[user]/page.tsx
  packages/frontpage/lib/components/user-hover-card-client.tsx
  packages/frontpage/lib/components/user-hover-card.tsx
Labels: frontpage

bring naming in line with login_lib forms and actions (#322)
  packages/frontpage/app/(auth)/reauthenticate/_lib/action.ts
  packages/frontpage/app/(auth)/reauthenticate/_lib/form.tsx
  packages/frontpage/app/(auth)/reauthenticate/page.tsx
Labels: frontpage

Responsive dialogs (#289)
  packages/frontpage/app/(app)/post/new/page.tsx
  packages/frontpage/app/(auth)/login/_lib/form.tsx
  packages/frontpage/lib/components/ui/alert-dialog.tsx
  packages/frontpage/lib/components/ui/dialog-context.ts
  packages/frontpage/lib/components/ui/dialog.tsx
  packages/frontpage/lib/components/ui/drawer.tsx
  packages/frontpage/lib/use-media-query.ts
  packages/frontpage/lib/utils.ts
  packages/frontpage/package.json
  pnpm-lock.yaml
Labels: frontpage

Replace deprecated toast shadcn component with sonner (#323)
  packages/frontpage/app/(app)/_components/delete-button.tsx
  packages/frontpage/app/(app)/_components/report-dialog.tsx
  packages/frontpage/app/(app)/_components/share-button.tsx
  packages/frontpage/app/(app)/post/[postAuthor]/[postRkey]/_lib/comment-client.tsx
  packages/frontpage/app/layout.tsx
  packages/frontpage/lib/components/ui/sonner.tsx
  packages/frontpage/lib/components/ui/toast.tsx
  packages/frontpage/lib/components/ui/toaster.tsx
  packages/frontpage/lib/components/ui/use-toast.ts
  packages/frontpage/package.json
  pnpm-lock.yaml
Labels: frontpage

Upgrade turbo (#325)
  package.json
  pnpm-lock.yaml
Labels: none

Upgrade tailwind-merge to support tailwind 4
  packages/frontpage/package.json
  pnpm-lock.yaml
Labels: frontpage

Remove unravel package (#324)
  packages/unravel/README.md
  packages/unravel/app/_theme-provider.tsx
  packages/unravel/app/blog/[slug]/route.ts
  packages/unravel/app/blog/route.ts
  packages/unravel/app/favicon.ico
  packages/unravel/app/globals.css
  packages/unravel/app/layout.tsx
  packages/unravel/app/page.tsx
  packages/unravel/app/unravel-unicorn/[hash]/route.ts
  packages/unravel/app/unravel-unicorn/[hash]/unravel-unicorn.json
  packages/unravel/eslint.config.mjs
  packages/unravel/lib/utils.ts
  packages/unravel/next.config.mjs
  packages/unravel/package.json
  packages/unravel/postcss.config.mjs
  packages/unravel/tailwind.config.ts
  packages/unravel/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

Upgrade to Node 24 (#326)
  .nvmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

Add data layer doc
  docs/frontpage-data-layers.md
  docs/images/create-post-data-flow-dark.png
  docs/images/create-post-data-flow-light.png
Labels: documentation

Update Next.js and React
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

Dedupe
  pnpm-lock.yaml
Labels: none

Update other next deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

Add flags
  packages/frontpage/.env.development
  packages/frontpage/app/.well-known/vercel/flags/route.ts
  packages/frontpage/lib/flags.ts
  packages/frontpage/package.json
  packages/frontpage/turbo.json
  pnpm-lock.yaml
Labels: frontpage

Automatically set title from url in new post form (#334)
  packages/frontpage/app/(app)/layout.tsx
  packages/frontpage/app/(app)/post/new/_client.tsx
  packages/frontpage/app/(app)/post/new/page.tsx
  packages/frontpage/app/api/fetch-link-og/route.ts
  packages/frontpage/lib/api-route.ts
  packages/frontpage/lib/components/new-post-form/new-post-action.ts
  packages/frontpage/lib/components/new-post-form/new-post-client.tsx
  packages/frontpage/lib/components/new-post-form/new-post-form.tsx
  packages/frontpage/lib/flags.ts
Labels: frontpage
